name: CI

env:
    CI: true

on:
    workflow_dispatch:
    push:
        tags:
            - 'v*'
            - '[0-9]*'

jobs:
    build-test:
        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                operating-system: ['ubuntu-latest', 'macos-latest', 'windows-latest']
                node-versions: ['lts/*']

        name: ${{ matrix.operating-system }} (Node ${{ matrix.node-versions }})

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Node
              uses: actions/setup-node@v3
              with:
                  node-version: '${{ matrix.node-versions }}'
                  cache: 'npm'

            - name: NPM
              run: npm install

            - name: Test
              run: npm run js:tests
